/* Approccio desktop first */
/* tablet - dai 768px in giù */
@media screen and (max-width: 767px)  {
    .container{
        width: 100%;
    }
}
/* mobile - dai 480px in giù */
@media screen and (max-width: 479px) {
    .container {
        width: 100%;
    }
    .row{
        flex-direction: column;
    }
    .lessons .col {
    width: 100%;
    }
    .steps .col {
        width: 100%;
    }
    .why-us .col-left {
        width: 100%;
    }

    .why-us .col-right {
        width: 100%;
    }
}